<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="static/main.js"></script>
    <title>Py Gen</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <noscript>Enable javascript to continue!</noscript>
            <h2 class="display-4">Py Gen</h2>
            <form class="text-left" onsubmit="return false">
                <div class="form-group">
                    <label for="gen">Account Type:</label>
                    <select class="form-control" id="gen">
                        <option value="disabled" selected>Select A Gen</option>
                        {{gens}}
                    </select>
                </div>
                <button class="btn btn-dark btn-lg" id="genbtn" onclick="genaccount()">Generate</button>
            </form>
        </div>
    </div>
</body>
</html>